<?xml version="1.0"?>
<!--
/**
 * Checkout Disclaimer
 *
 * @package Writerzwall_Checkoutdisclaimer
 * @author Rajesh Patra <rajpatra220@gmail.com>
 * @copyright 2020-2030 Writerzwall
 * @license OSL-3.0, AFL-3.0
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
  <acl>
    <resources>
      <resource id="Magento_Backend::admin">
	  	 <resource id="Magento_Backend::stores">
          <resource id="Magento_Backend::stores_settings">
            <resource id="Magento_Config::config">
              <resource id="Writerzwall_Checkoutdisclaimer::checkoutdisclaimerconfig" title="Checkout Disclaimer"/>
            </resource>
          </resource>
        </resource>
      </resource>
    </resources>
  </acl>
</config>
