<?xml version="1.0"?>
<!--
/**
 * Checkout Disclaimer
 *
 * @package Writerzwall_Checkoutdisclaimer
 * @author Rajesh Patra <rajpatra220@gmail.com>
 * @copyright 2020-2030 Writerzwall
 * @license OSL-3.0, AFL-3.0
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Magento\CheckoutAgreements\Model\AgreementsConfigProvider" type="Writerzwall\Checkoutdisclaimer\Model\AgreementsConfigProvider"/>
</config>
