<?xml version="1.0" ?>
<!--
/**
 * Checkout Disclaimer
 *
 * @package Writerzwall_Checkoutdisclaimer
 * @author Rajesh Patra <rajpatra220@gmail.com>
 * @copyright 2020-2030 Writerzwall
 * @license OSL-3.0, AFL-3.0
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="writerzwall" translate="label" sortOrder="600" class="commerce">
            <label>WriterzWall</label>
        </tab>
        <section id="checkoutdisclaimer" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Checkout Disclaimer</label>
            <tab>writerzwall</tab>
            <resource>Writerzwall_Checkoutdisclaimer::checkoutdisclaimerconfig</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration</label>
                <field id="disclaimercontent" translate="label" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disclaimer Content</label>
                </field>
            </group>
        </section>
    </system>
</config>
